.recipes {
    padding-top: 75px;
    padding-bottom: 75px;
}
.recipes .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
}
.recipes .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: #ffcf88;
}
.recipes .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #6c665c;
}
.box {
    margin-bottom: 30px;
}
.recipes .box p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
.recipes .box:hover {
    background: #FFB86F;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}
.recipes .box:hover span, .recipes .box:hover h4, .recipes .box:hover p {
    color: #fff;
}
/* Modal Stuff */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}
.modal p {
    color: Black;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
